

<div class="page-header">
  <h1>Pomysły na funkcje <small>i takie tam</small></h1>
</div>
<h3>MODUŁY</h3>
<p>

</p>
<h3>Wewnętrzne API systemu</h3>
<p>
    <ul>
        <li>Akcje na dokumentach</li>
        <li>Akcje bez dokumentów (tzn takie ogólne)</li>
        <li>Eventy - publikacja i obsługa</li>
        <li>Komunikacja z workflowem nginn</li>
        <li>Konsola skryptowa</li>
        <li>Możliwość używania w/w funkcji w skryptach, regułach, workflowie, GUI, web services</li>
    </ul>
    Akcje będą definiowane w kodzie jako klasy (IAction...)
    i będą mogły być rejestrowane w kontenerze lub dostarczane przez action providery.
    Każda akcja musi mieć unikalną nazwę oraz typ dokumentu na którym działa (jeśli działa na instancji obiektu).
    A co z akcjami które nie działają na instancji, albo działają na kilku instancjach?
    

</p>

<h3>Powiadomienia</h3>
<p>
</p>

<h3>Kalendarz dni roboczych</h3>
<p>
    Normalny obiekt w systemie. A może dokument???
</p>



<h3>Kalendarze (planowanie)</h3>
<p>Każde zadanie można umieścić w kalendarzu (tzn jeśli jest na grupie to można je umieścić w kalendarzu tej grupy,
    jeśli na osobie to w kalendarzu tej osoby). 
</p>

<h3>Lista TODO</h3>
<p></p>

<h3>Wnioski</h3>
<p></p>
<h3>Grupy</h3>
<p>
    Grupy workflowowe i grupy uprawnieniowe - czy podział ma sens? Chyba nie...
    Czy hierarchia grup ma sens? - raczej nie, ale czy to coś daje?
    Struktura hierarchiczna organizacji? Hm, może się przydać.
</p>
<h3>Konta użytkowników - zawartość, zarządzanie, funkcjonalność</h3>
<p>

</p>
<h3>Załączniki</h3>
<p>
    <ul>
        <li>Przeglądarka załączników</li>
    </ul>
</p>

<h3>SOLR</h3>
<p>
    <ul>
        <li>Indeksowanie</li>
        <li>Wyszukiwarka + faceting + kryteria</li>
    </ul>
</p>


<h4></h4>
