
<div class="page-header">
  <h1>Pomysły na funkcje <small>i takie tam</small></h1>
</div>

<h3>Strona startowa</h3>
<p>
    <ul>
        <li>Przekroczone terminy realizacji</li>
        <li>Zagrożone przekroczeniem</li>
        <li>Kalendarz na dziś (następne 8/24 h)</li>
        <li>Stan kolejek w moich grupach</li>
        <li>Moje TODO (licznik)</li>
        <li>Zrealizowane zadania (dziś)</li>
        <li>Powiadomienia</li>
        <li>Stan moich otwartych wniosków/procesów</li>
        <li>Jakiś wykres? Ale jaki?</li>
    </ul>
</p>

<h3>Powiadomienia</h3>
<p>Każdy użytkownik może sobie indywidualnie skonfigurować otrzymywane powiadomienia
    zaznaczając na liście możliwych zdarzeń opcje
    <ul>
        <li>Email</li>
        <li>SMS</li>
        <li>Okno przeglądarki</li>
        <li>RSS/growl</li>
    </ul>
    Dodatkowo możliwość subskrybowania się na powiadomienia do pojedynczych obiektów
    do których normalnie użytkownik nie dostał by powiadomienia.
</p>
<h3>Nieobecności/Urlopy</h3>
<p>
    Dużo funkcji: 
    <ul>
        <li>zgłaszanie nieobecności</li>
        <li>zgłaszanie urlopu (wniosek)</li>
        <li>flow zatwierdzeniowy</li>
        <li>zestawienie dla szefa</li>
        <li>zestawienie dla grupy</li>
    </ul>
</p>

<h3>Kalendarz dni roboczych</h3>
<p>Konfigurowalny w GUI aplikacji</p>

<h3>Kalendarze (planowanie)</h3>
<p>Kalendarz osobisty oraz kalendarze grup.
    Możliwość umieszczania w takim kalendarzu zadań.
</p>

<h3>Lista TODO</h3>
<p></p>

<h3>Wnioski</h3>
<p>No właśnie, możliwość w podstawowej wersji systemu
    <ul>
        <li>Składania jakichś wniosków</li>
        <li>Podglądu złożonych przez siebie wniosków</li>
        <li>No i jakaś realizacja workflowu wnioskowego</li>
    </ul>
    Jak to zrobić, tzn czym są wnioski, czy to jakieś osobne typy dokumentów,
    czy też w całości sterowane workflowem?<br />
    Mysle ze to mogą być różne typy dokumentów, ale poindeksowane SOLRem i pokazywane
    na wspólnej liście.
</p>
<h3>Grupy</h3>
<p>
    Grupy workflowowe i grupy uprawnieniowe - czy podział ma sens? Chyba nie...
    Czy hierarchia grup ma sens? - raczej nie, ale czy to coś daje?
    Struktura hierarchiczna organizacji? Hm, może się przydać.
</p>
<h3>Konta użytkowników - zawartość, zarządzanie, funkcjonalność</h3>
<p>

</p>
<h3>Załączniki</h3>
<p>
    Do każdego dokumentu/zadania można dodać załączniki. Upload na www, przechowywanie i download również po http.
</p>
<h3>Listy wyszukiwania</h3>
<p>
    <ul>
        <li>Definiowanie filtrów, zapisywanie i zarządzanie nimi</li>
        <li>Mozliwość przekształcenia filtru w licznik w menu lub w dashboardzie</li>
        <li>Listy SOLR i SQL (traktujmy rozdzielnie)</li>
        <li>Faceting</li>
        <li>Czy potrzebujemy tabele, czy mogą być też inne formy?</li>
        <li>Eksport do excela</li>
        <li>Możliwość klejenia jednej listy z kilku zapytań (to w SOLRze)</li>
        <li>Listy dokumentów tylko w SOLR. Lista zadań - w SQL.</li>
    </ul>
</p>

<h3>Generowanie dokumentów</h3>
<p>Z edytowalnych szablonów</p>

<h3>Emaile</h3>
<p>Edytor szablonów, edytowalne reguły powiadomień</p>

<h4></h4>
