<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetMvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.1001" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net40" />
  <package id="nginn-messagebus" version="1.1.1.0" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
  <package id="NLog" version="2.0.1.2" targetFramework="net40" />
</packages>