@section ScriptAndCss {

    
}
<div id="mydiv1">
   <div class="x-panel-body" >sdf</div>
</div>

<script>
        Ext.onReady(function () {
            var v = Ext.create('Ext.container.Viewport', {
                layout: 'border', renderTo: Ext.getBody(), 
                items: [
                    {
                        xtype: 'panel', region: 'north', border: false, applyTo: '#mydiv1',
                        height: 40
                    },
                    {xtype: 'panel', html: '<b> to ja panel </b>', region: 'center'}
                ]
            });
        });
    </script>