@using CogDox.Core
@using CogDox.Core.Lists
@using CogDox.Models
@{
    Layout = "~/Views/Shared/_MainEx.cshtml";
}

@section ScriptAndCss {

    
}
@section PageHeader {
    <div class="portlet-title"><h3>Lista użytkowników</h3></div>
		
}


<div class="row-fluid">
    <div class="span12">
        <div class="portlet grey">
            <div class="portlet-body" id="theGrid2"></div>
        </div>
    </div>
    
    

        <script type="text/javascript">
            var taskDetailHostApi = function () {
                this.reload = function () {
                    console.log('reload task!');
                    Ext.getCmp('vDocView').reloadTask();
                };
                return this;
            };

            Ext.define('CogDox.ui.DOMGridFilter', {
                extend: 'CogDox.ui.ListFilterPanel',
                requires: [],
                width: 400, header: false,
                initComponent: function () {
                    if (!Ext.isEmpty(this.contentEl)) {
                        Ext.fly(this.contentEl).setDisplayed(true);
                    };
                    Ext.apply(this, {
                        
                    });
                    this.callParent(arguments);
                }
            });

            

            Ext.onReady(function () {
                var tView = Ext.create('Ext.panel.Panel', {
                    id: 'vDocView', region: 'south', autoScroll: true, collapsed: false, split: true, border: false,
                    reloadTask: function (id) {
                        console.log('reload ' + id);
                        if (Ext.isEmpty(id)) id = this.currentTaskId;
                        this.currentTaskId = id;
                        Ext.Ajax.request({
                            url: '@Url.Action("DetailsEmbed", "Doc")/UserAccount~' + id + '?callbackjs=taskDetailHostApi',
                            success: function (response) {
                                var text = response.responseText;
                                if (tView.getCollapsed()) tView.toggleCollapse();
                                tView.update(text, true, function () {
                                    console.log('view updated');
                                });
                            }
                        });
                    }
                });
                var pnl = Ext.create('Ext.panel.Panel', {
                    layout: 'border', renderTo: 'theGrid2', style: "width: 100%",
                    items: [
                        Ext.create('CogDox.ui.UserAccountSearchGrid', {
                            itemId: 'vGrid', height: 300, border: false,
                            region: 'center',
                            searchPanelClass: 'CogDox.ui.DOMGridFilter',
                            searchPanelConfig: { header: false, collapseMode: 'mini', split: true, contentEl: '_list_filter1' },
                            listeners: {
                                itemclick: function (p, i) {
                                    tView.reloadTask(i.data.Id);
                                }
                            }
                        }),
                        tView
                    ]
                });
                var updateSize = function () {
                    var w = Ext.getBody().getViewSize().width;
                    var h = Ext.getBody().getViewSize().height;
                    pnl.setHeight(h - pnl.getY() - 8);
                    pnl.setWidth(w - pnl.getX() - 10);
                    pnl.doLayout();
                }
                Ext.EventManager.onWindowResize(updateSize);
                updateSize();
            });
    </script>
</div>

<script>
    Ext.onReady(function () {
        $(".page-sidebar").on("show", function () {
            console.log('sidebar show');
        });
    });
 </script>


<div id="_list_filter1" class="container-fluid form" style="">
        <form action="#" class="horizontal-form">
				<h3 class="form-section">Search
                    <a class="btn" href="#">Szukaj</a>
				</h3>
				<div class="row-fluid">
					<div class="span6 ">
						<div class="control-group">
							<label class="control-label" for="firstName">First Name</label>
							<div class="controls">
								<input type="text" id="firstName" class="m-wrap span12" placeholder="Chee Kin">
								<span class="help-block">This is inline help</span>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="span6 ">
						<div class="control-group error">
							<label class="control-label" for="lastName">Last Name</label>
							<div class="controls">
								<input type="text" id="lastName" class="m-wrap span12" placeholder="Lim">
								<span class="help-block">This field has error.</span>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
				<div class="row-fluid">
					<div class="span6 ">
						<div class="control-group">
							<label class="control-label" >Gender</label>
							<div class="controls">
								<select  class="m-wrap span12">
									<option value="">Male</option>
									<option value="">Female</option>
								</select>
								<span class="help-block">Select your gender.</span>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="span6 ">
						<div class="control-group">
							<label class="control-label" >Date of Birth</label>
							<div class="controls">
								<input type="text" class="m-wrap span12"  placeholder="dd/mm/yyyy">
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->        
            </form>

    </div>
