@using CogDox.Core
@using CogDox.Core.Lists
@using CogDox.Models
@{
    Layout = "~/Views/Shared/_MainEx.cshtml";
}

@section ScriptAndCss {

    
}
@section PageHeader {
    <div class="portlet-title">Lista użytkowników</div>
		
}


<div class="row-fluid">
    <div class="span12">
        <div class="portlet grey">
            <div class="portlet-body" id="theGrid2"></div>
        </div>
    </div>
    
    

        <script type="text/javascript">
            var taskDetailHostApi = function () {
                this.reload = function () {
                    console.log('reload task!');
                    Ext.getCmp('vDocView').reloadTask();
                };
                return this;
            };

            var reloadDoc = function (id) {
                console.log('reload ' + id);
                $('#doc_view_embed_body').load('@Url.Action("DetailsEmbed", "Doc")/BaseTask~' + id + '?callbackjs=taskDetailHostApi');
            };
            var theGrid2Store = null;
            Ext.onReady(function () {
                var gr = Ext.create('CogDox.ui.TODOListGrid', {
                    renderTo: 'theGrid2', style: { width: '100%' }, height: 340,
                    dockedItems: [],
                    listeners: {
                        itemclick: function (p, i) {
                            reloadDoc(i.data.Id);
                        }
                    }
                });
                theGrid2Store = gr.store;
            });
    </script>
</div>


<div class="pagination" style="margin-top:0">
    <ul>
    <li class=""><a href="#" class="pgback">&laquo;</a></li>
    <li class="disabled"><a href="#" class="pginfo">strona 4, wyświetlono rekordy 100-125</a></li>
    <li><a href="#" class="pgfwd">&raquo;</a></li>
    </ul>
    
    <ul style="margin-left:20px" class="pull-right">
        <li><a class="btn btn-primary">TU</a></li>
        <li><a class="btn">Tam</a></li>
        <li><a class="btn" id="search_toggle">I ówdzie</a></li>

    </ul>
</div>
<script>
    $('#search_toggle').click(function () {
        $('#search_pane').collapse('toggle');
    });
    $('.pagination .pgback').click(function () {
        console.log('back ' + theGrid2Store);
        theGrid2Store.previousPage();
    });
    $('.pagination .pgfwd').click(function () {
        console.log('fwd ' + theGrid2Store);
        theGrid2Store.nextPage();
        $('.pagination .pginfo').text('Strona ' + theGrid2Store.currentPage);
    });
</script>

<div class="row-fluid collapse" id="search_pane" >
    <div class="span12">
			<div class="tabbable tabbable-custom">
			    <ul class="nav nav-tabs">
				    <li class="active"><a href="#srchtab_1_1" data-toggle="tab">Section 1</a></li>
				    <li><a href="#srchtab_1_2" data-toggle="tab">Section 2</a></li>
				    <li><a href="#srchtab_1_3" data-toggle="tab">Section 3</a></li>
			    </ul>
			    <div class="tab-content">
				    <div class="tab-pane active" id="srchtab_1_1">
					    <p>I'm in Section 1.</p>
					    <p>
						    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
						    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
						    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
					    </p>
					    <div class="alert ">
						    Check out the below dropdown menu. Don't worry it won't get chopped out by the tab content.
						    Instead it will be opened as dropup menu.
					    </div>
					    <div class="btn-group">
						    <a class="btn green" href="#" data-toggle="dropdown">
						    Options
						    <i class="icon-angle-down"></i>
						    </a>
						    <div class="dropdown-menu bottom-up hold-on-click dropdown-checkboxes">
							    <label><input type="checkbox">Option 1</label>
							    <label><input type="checkbox">Option 2</label>
							    <label><input type="checkbox">Option 3</label>
							    <label><input type="checkbox">Option 4</label>
							    <label><input type="checkbox">Option 5</label>
						    </div>
					    </div>
				    </div>
				    <div class="tab-pane" id="srchtab_1_2">
					    <p>Howdy, I'm in Section 2.</p>
					    <p>
						    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
					    </p>
					    <p>
						    <a class="btn green" href="ui_tabs_accordions.html#tab_1_2" target="_blank">Activate this tab via URL</a>
					    </p>
				    </div>
				    <div class="tab-pane" id="srchtab_1_3">
					    <p>Howdy, I'm in Section 3.</p>
					    <p>
						    Duis autem vel eum iriure dolor in hendrerit in vulputate.
						    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
					    </p>
					    <p>
						    <a class="btn yellow" href="ui_tabs_accordions.html#tab_1_3" target="_blank">Activate this tab via URL</a>
					    </p>
				    </div>
			    </div>
		    </div>
		</div>
</div>

<div class="row-fluid">
    <div id="doc_view_embed_body" class="span12">
    </div>
</div>

<script>
    $('.collapse').collapse('hide');
</script>

<script>
    Ext.onReady(function () {
        $(".page-sidebar").on("show", function () {
            console.log('sidebar show');
        });
    });
 </script>
