@using SIMVer.Services
@using SIMVer.Common

<div class="row-fluid">

<div class="span3 control-group">
	<label class="control-label">Login/Nazwa</label>
	<div class="controls">
		<input type="text" name="query" style="width: 100%" class="m-wrap" value="@Request["query"]"/>

	</div>
</div>
</div>
