<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NGinnMessageBus.Endpoint" value="sql://cogdox/MQ_CogDox" />
    <add key="NGinnMessageBus.EnableSagas" value="true" />
    <add key="NGinnMessageBus.AutoCreateDatabase" value="true" />
    <add key="NGinnMessageBus.MaxConcurrentMessages" value="1" />
    <add key="NGinnMessageBus.RoutingFile" value="${basedir}/routing.json" />
  </appSettings>
  <connectionStrings>
    <add name="cogdox" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=cogdox;user=nginn2;password=nginn2;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>