@using CogDox.Core.BusinessObjects
@model BaseTask

<style>
    div.details-action-menu
    {
        position:absolute;
        top: 20px;
        left: 50px;
        background-color: red;
        border: solid 2px gray;
        width: 40px;
        height: 40px;
        
    }
</style>


<div class="navbar">
	<div class="navbar-inner">
        <ul class="nav">
            <li  class="">
				<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
				<span class="selected"></span>
				Widok
				<span class="arrow"></span>     
				</a>
				<ul class="dropdown-menu">
					<li >
						<a href="@Url.Action("Details", "Task", new {id=Model.Id})" target="_blank">Otwórz w nowym oknie</a>
					</li>
                </ul>
            </li>
        </ul>
		<ul class="nav pull-right">
			<li>
				<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
				<span class="selected"></span>
				Akcje
				<span class="arrow"></span>     
				</a>
				<ul class="dropdown-menu">
					<li >
                        <a class="btn blue" data-toggle="modal" href="#responsive">Akcja 1</a>
					</li>
                    <li>
                        <a class="" data-toggle="modal" href="#modal_action2">Akcja 2</a>
					</li>
                </ul>
                </li>
		</ul>
	</div>
</div>

    <h3 class="page-title">
			Lista spraw <small>jakiś tam dashboard</small>
		</h3>
		


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            Id: @Model.Id
        </div>
        <div class="span3">
            Summary: @Model.Summary
        </div>
    </div>
    <div style="height:350px;background-color: yellow">
    </div>
    <div class="row-fluid">FOOT</div>

</div>

<!-- MODALS -->
<div id="responsive" class="modal hide fade" tabindex="-1" data-width="760">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Responsive</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6">
				<h4>Some Input</h4>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
			</div>
			<div class="span6">
				<h4>Some More Input</h4>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
				<p><input type="text" class="span12 m-wrap"></p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">Close</button>
		<button type="button" class="btn blue">Save changes</button>
	</div>
</div><div id="modal_action2" class="modal hide fade" tabindex="-1" data-width="760">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Akcja 2</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span6">
				<h4>Some Input</h4>
				<p><input type="text" class="span12 m-wrap"></p>
			</div>
			<div class="span6">
				<h4>Some More Input</h4>
				<p>
                    <select>
                        <option>Opcja 1</option>
                        <option>Opcja 2</option>
                    </select>
				</p>
			</div>
		</div>
        <div class="row-fluid">
			<div class="span4">
				<h4>Some Input</h4>
				<p><input type="text" class="span12 m-wrap"></p>
			</div>
            <div class="span3">
				<h4>Some Input</h4>
				<p><input type="text" class="span12 m-wrap"></p>
			</div>
			<div class="span3">
				<h4>Input</h4>
				<p>
                    <select>
                        <option>Opcja 1</option>
                        <option>Opcja 2</option>
                    </select>
				</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">Close</button>
		<button type="button" class="btn blue">Save changes</button>
	</div>
</div><!-- END MODALS -->
