<div class="yui3-u" id="main">
       <div id="productsandservices" class="yui3-menu yui3-menu-horizontal yui3-menubuttonnav">
            <div class="yui3-menu-content">
                <ul class="first-of-type">
                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="@Url.Action("Index", "Home")"><img src="home.jpg" />Home</a></li>
                    <li>
                        <a class="yui3-menu-label" href="#connect"><em>Connect</em></a>
                        <div id="connect" class="yui3-menu">
                            <div class="yui3-menu-content">
                                <ul>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://developer.yahoo.com/">Developer Network</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.flickr.com">Flickr</a></li>
                                    <li>
                                        <a class="yui3-menu-label" href="#pim">PIM</a>
                                        <div id="pim" class="yui3-menu">
                                            <div class="yui3-menu-content">

                                                <ul>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mail.yahoo.com">Mail</a></li>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.zimbra.com">Zimbra</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://addressbook.yahoo.com">Address Book</a></li>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://calendar.yahoo.com">Calendar</a></li>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://notepad.yahoo.com">Notepad</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://messenger.yahoo.com">Messenger</a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://profiles.yahoo.com">Profiles</a> </li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mobile.yahoo.com">Mobile</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mybloglog.yahoo.com/">MyBlogLog</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://pride.yahoo.com/">Pride</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://upcoming.yahoo.com/">Upcoming</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a class="yui3-menu-label" href="#find-info"><em>Find Info</em></a>
                        <div id="find-info" class="yui3-menu">
                            <div class="yui3-menu-content">
                                <ul>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://answers.yahoo.com">Answers</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://babelfish.yahoo.com/">Babel Fish Translations</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://info.yahoo.com/">Company Info</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://search.yahoo.com/cc">Creative Commons Search</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://dir.yahoo.com/">Directory</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://hotjobs.yahoo.com/">Jobs</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://local.yahoo.com">Local</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://maps.yahoo.com/">Maps</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://realestate.yahoo.com">Real Estate</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://education.yahoo.com/reference/">Reference</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a class="yui3-menu-label" href="#lifestyles"><em>Lifestyles</em></a>
                        <div id="lifestyles" class="yui3-menu">
                            <div class="yui3-menu-content">
                                <ul>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://autos.yahoo.com">Autos</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://food.yahoo.com">Food</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://green.yahoo.com">Green</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://health.yahoo.com">Health</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://pride.yahoo.com">Pride</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://shine.yahoo.com">Shine</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://tech.yahoo.com">Tech</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://travel.yahoo.com/">Travel</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://forgood.yahoo.com/index.html">Yahoo! for Good</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a class="yui3-menu-label" href="#new-finance"><em>News &#38; Finance</em></a>
                        <div id="new-finance" class="yui3-menu">
                            <div class="yui3-menu-content">
                                <ul>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://buzz.yahoo.com/">Buzz</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://finance.yahoo.com">Finance</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://news.yahoo.com">News</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://publisher.yahoo.com">Publisher Network</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://sports.yahoo.com/">Sports</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://weather.yahoo.com/">Weather</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a class="yui3-menu-label" href="#"><em>Inne</em></a>
                        <div id="your-yahoo" class="yui3-menu">
                            <div class="yui3-menu-content">
                                <ul>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="@Url.Action("Console", "Test")">Konsola</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="@Url.Action("DBSchema", "Home")">Database DDL</a></li>
                                </ul>
                                <ul>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://bookmarks.yahoo.com/">Bookmarks</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://delicious.com/">delicious</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

<script>
    YUI().use('node-menunav', function(Y) {
        var menu = Y.one("#productsandservices");
        menu.plug(Y.Plugin.NodeMenuNav);
        menu.get("ownerDocument").get("documentElement").removeClass("yui3-loading");
    });

</script>
