@using CogDox.Core
@model CogDox.Models.ListSearchModel
@{
    Layout = "~/Views/Shared/_MainAUI.cshtml";
    ViewBag.Title = "Form builder";
}



<div id="myDataTable"></div>

<script type="text/javascript">
YUI().use(
  'aui-datatable', 'datasource',  "datatable", "datatable-datasource", "datasource-local",    "datasource-jsonschema",
  function (Y) {
      var myDataSource = new Y.DataSource.IO({ source: '@Url.Action("ListData", "List", new { id = "TODO" })' });
      myDataSource.plug({
          fn: Y.Plugin.DataSourceJSONSchema, cfg: {
              schema: {
                  resultListLocator: "Data",
                  resultFields: ["Id", "Summary", "Status"]
              }
          }
      });
      
      var columns = ['Id', 'Summary', 'Status'];
      var dtable = new Y.DataTable.Base({
          columns: columns,
          summary: "Shopping cart items",
          caption: "Table with JSON data from api"
      });

      dtable.plug(Y.Plugin.DataTableDataSource, {
          datasource: myDataSource
      });
      dtable.render('#myDataTable');
      dtable.datasource.load({});
  }
);
</script>